.navbar {
  background-color: black;
  border-radius: 30px;
}

.navbar ul {
  overflow: auto;
}

.navbar li {
  float: left;
  list-style: none;
  margin: 13px 20px;

}

.navbar li a {
  padding: 3px 3px;
  text-decoration: none;
  color: white;
}

.navbar li a:hover {
  color: red
}

.search {
  float: right;
  color: white;
  padding: 12px 75px;
}

.navbar input {
  border: 2px solid black;
  border-radius: 14px;
  padding: 3px 17px;
  width: 129px;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  font-size: 4.5em;
}

.create label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 30px;
  color: #f1356d;
  margin-bottom: 30px;
}

.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  /* padding: 8px; */
  border-radius: 8px;
  cursor: pointer;
  padding: 2.5em;
}

input[type="radio"] {
  /* ...existing styles */

  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

.parameters {
  font-size: 25px;
  display: inline;
}

.head {
  color: green;
  font-size: 20px;
}

.home-content {
  display: flex;
  flex-direction: column;
  margin: 1.5em;
  font-size: 1.5em;
}

.bmi {
  margin: 1.5em;
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: absolute;
}

.bmi a {
  text-decoration: none;
}

.bmi:hover {
  background-color: #fff;
}

.bmi:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .bmi {
    min-width: 120px;
    padding: 0 25px;
  }
}

table,
th,
td {
  border: 1px solid rgb(12, 12, 215);
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  padding: 10px;
}


body::before {
  content: "";
  background-image: url("../../bg_image.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  /* background-repeat: no-repeat; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.2;
  z-index: -1;
}

.under,
.overweight {
  font-size: 1.5em;
  margin: 1.5em;
  padding: 1em;
}

.under h2,
.overweight h2 {
  font-size: 2.5em;
  text-align: center;
  color: red;
}

.under h3,
.overweight h3 {
  color: blue
}

.under img,
.overweight img {
  height: 20em;
  display: flex;
  /* text-align: center; */
  margin: auto;
  opacity: 80%;
}

.frames {
  /* margin: 2.5em; */
  display: flex;
  justify-content: space-evenly;
}

.bmiheader {
  text-align: center;
  font-size: 1.5em;
  color: green;
}